<p style="color: green"><%= notice %></p>

<div class="d-flex flex-row mb-3">
      <% if current_user.admin? %>
        <div class="p-2">
          <p id="total-user-count" class="btn btn-outline-primary">
            <%= @total_user_count %> usuários
          </p>
        </div>
        <div class="p-2">
          <p id="admin-user-count" class="btn btn-outline-primary">
            <%= @admin_user_count %> administradores
          </p>
        </div>
        <div class="p-2">
          <p id="common-user-count" class="btn btn-outline-primary">
            <%= @common_user_count %> comuns
          </p>
        </div>
      <% end %> 
    </div>

<div class="row gap-3">
  <% @users.each do |user| %>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <%= image_tag('avatar-default.png', class: "img-fluid rounded-start")%>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= user.full_name %></h5>
            <p class="card-text"><%= user.email %></p>
            <p class="card-text"><small class="text-muted"><%= user.role %></small></p>

            <%= link_to edit_user_administration_path(user) do %>
              Edit User
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
